.resources__logo {
  height: 38px;
  opacity: 1;
  transition: opacity 0.3s linear;
  width: 270px;
}

.resources__logo:hover {
  opacity: 0.5;
}
.resources__logo-zone {
  display: flex;
  list-style-type: none;
  margin: 80px auto 0;
  max-width: 1100px;
}
.resources {
  margin: 100px 0 217px;
}
.resources-title {
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  margin: 0 auto;
}
.resources-subtitle {
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: 20px auto 0;
}
