





.khan__title {
/*Box model stuff*/
  margin: 0 0 50px;
/*Typography stuff*/
  font-size: 60px;
  font-weight: bold;
/*Miscellaneous*/
  line-height: 1.15;
}

.khan {
/*Box model stuff*/
  margin: 0;
  padding-top: 105px;
  background-color: #f2f2f2;
}
