@import url("./__title/feynman__title.css");
@import url("./__subtitle/feynman__subtitle.css");
@import url("./__link-learn-more/feynman__link-learn-more.css");
@import url("./__images/feynman__image.css");


.feynman {
  align-items: center;
  background-color: #f2f2f2;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  display: flex;
  flex-direction: column;
  min-height: 790px;
  padding-top: 100px;
  position: relative;
}





