


.header {
/*Display stuff*/
  display: flex;
  align-items: center;
/*Positioning stuff*/
  position: relative;
  z-index: 0;
/*Box model stuff*/
  height: 100vh;
  max-height: 756px;
  min-height: 600px;
  background-color: #f2f2f2;
/*Miscellaneous*/
  overflow: hidden;
}

























