
@import url('./__author/footer__author.css');
@import url('./__column-content/footer__column-content_copyright');
@import url('./__column-heading/footer__column-heading.css');
@import url('./__column-heading/footer__column-heading.css');
@import url('./__column-links/footer__column-links.css');
@import url('./__columns/footer__columns.css');
@import url('./__link/footer__link.css');
@import url('./__logo/footer__logo-image.css');
@import url('./__logo/footer__logo_place_footer.css');
@import url('./__social-icon/footer__social-icon.css');


.footer {
  /*Display stuff*/
  display: flex;
  justify-content: space-around;
  /*Box model stuff*/
  min-height: 350px;
  background-color: #000000;
}











